<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>TextTime By Lightmann</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>me.lightmann.texttimeprefs</string>
			<key>key</key>
			<string>isEnabled</string>
			<key>label</key>
			<string>Enabled (Respring Required)</string>
			<key>PostNotification</key>
			<string>me.lightmann.texttimeprefs-updated</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Custom Alignment</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>defaults</key>
			<string>me.lightmann.texttimeprefs</string>
			<key>key</key>
			<string>customAlignment</string>
			<key>label</key>
			<string>Custom Alignment</string>
			<key>default</key>
			<integer>1</integer>
			<key>validTitles</key>
			<array>
				<string>Left</string>
				<string>Center</string>
				<string>Right</string>
			</array>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
			</array>
			<key>id</key>
			<string>ModeCell</string>
			<key>PostNotification</key>
			<string>me.lightmann.texttimeprefs-updated</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Font Style</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>defaults</key>
			<string>me.lightmann.texttimeprefs</string>
			<key>key</key>
			<string>fontStyle</string>
			<key>label</key>
			<string>Font Style</string>
			<key>default</key>
			<integer>0</integer>
			<key>validTitles</key>
			<array>
				<string>Lowercase</string>
				<string>Capitalized</string>
				<string>Uppercase</string>
			</array>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
			</array>
			<key>id</key>
			<string>ModeCell</string>
			<key>PostNotification</key>
			<string>me.lightmann.texttimeprefs-updated</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Font Size and Weight</string>
			<key>footerText</key>
			<string>*Leave size at 0 for default*</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>0</real>
			<key>min</key>
			<real>-25</real>
			<key>max</key>
			<real>25</real>
			<key>showValue</key>
			<true/>
			<key>defaults</key>
			<string>me.lightmann.texttimeprefs</string>
			<key>key</key>
			<string>fontSize</string>
			<key>isSegmented</key>
			<true/>
			<key>PostNotification</key>
			<string>me.lightmann.texttimeprefs-updated</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>default</key>
			<real>0</real>
			<key>defaults</key>
			<string>me.lightmann.texttimeprefs</string>
			<key>label</key>
			<string>Time Font Weight</string>
			<key>validTitles</key>
			<array>
				<string>Black</string>
				<string>Heavy</string>
				<string>Bold</string>
				<string>SemiBold</string>
				<string>Medium</string>
				<string>Regular</string>
				<string>Light</string>
				<string>Thin</string>
				<string>Ultra-Light</string>
			</array>
			<key>validValues</key>
			<array>
				<real>0.62</real>
				<real>0.56</real>
				<real>0.40</real>
				<real>0.30</real>
				<real>0.23</real>
				<real>0</real>
				<real>-0.40</real>
				<real>-0.60</real>
				<real>-0.80</real>
			</array>
			<key>key</key>
			<string>tfontWeight</string>
			<key>PostNotification</key>
			<string>me.lightmann.texttimeprefs-updated</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>default</key>
			<real>0</real>
			<key>defaults</key>
			<string>me.lightmann.texttimeprefs</string>
			<key>label</key>
			<string>Date Font Weight</string>
			<key>validTitles</key>
			<array>
				<string>Black</string>
				<string>Heavy</string>
				<string>Bold</string>
				<string>SemiBold</string>
				<string>Medium</string>
				<string>Regular</string>
				<string>Light</string>
				<string>Thin</string>
				<string>Ultra-Light</string>
			</array>
			<key>validValues</key>
			<array>
				<real>0.62</real>
				<real>0.56</real>
				<real>0.40</real>
				<real>0.30</real>
				<real>0.23</real>
				<real>0</real>
				<real>-0.40</real>
				<real>-0.60</real>
				<real>-0.80</real>
			</array>
			<key>key</key>
			<string>dfontWeight</string>
			<key>PostNotification</key>
			<string>me.lightmann.texttimeprefs-updated</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Configuration</string>
			<key>footerText</key>
			<string>*Some changes require a respring in order to take effect*</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>me.lightmann.texttimeprefs</string>
			<key>key</key>
			<string>dateAsText</string>
			<key>label</key>
			<string>Date as Text</string>
			<key>PostNotification</key>
			<string>me.lightmann.texttimeprefs-updated</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>me.lightmann.texttimeprefs</string>
			<key>key</key>
			<string>compactDate</string>
			<key>label</key>
			<string>Compact Date</string>
			<key>PostNotification</key>
			<string>me.lightmann.texttimeprefs-updated</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>me.lightmann.texttimeprefs</string>
			<key>key</key>
			<string>hideDate</string>
			<key>label</key>
			<string>Hide Date</string>
			<key>PostNotification</key>
			<string>me.lightmann.texttimeprefs-updated</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>me.lightmann.texttimeprefs</string>
			<key>key</key>
			<string>hideLock</string>
			<key>label</key>
			<string>Hide Lock (iPhone X and above)</string>
			<key>PostNotification</key>
			<string>me.lightmann.texttimeprefs-updated</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>me.lightmann.texttimeprefs</string>
			<key>key</key>
			<string>vibrancy</string>
			<key>label</key>
			<string>Vibrancy Effect</string>
			<key>PostNotification</key>
			<string>me.lightmann.texttimeprefs-updated</string>
		</dict>

		<dict>
            <key>cell</key>
            <string>PSGroupCell</string>
            <key>label</key>
            <string></string>
        </dict>
		<dict>
			<key>action</key>
			<string>respring:</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Apply</string>
		</dict>
	</array>
	<key>title</key>
	<string>TextTime</string>
</dict>
</plist>
